In [76]:
import pandas as pd

In [77]:
df1=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_0_500000.csv")
df2=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_500000_1000000.csv")
df3=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_1000000_1500000.csv")
df4=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_biometric\api_data_aadhar_biometric\api_data_aadhar_biometric_1500000_1861108.csv")

In [78]:
biometric=pd.concat([df1,df2,df3,df4],ignore_index=True)

In [79]:
biometric

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815
...,...,...,...,...,...,...
1861103,29-12-2025,West Bengal,Uttar Dinajpur,733201,4,9
1861104,29-12-2025,West Bengal,Uttar Dinajpur,733213,0,1
1861105,29-12-2025,West Bengal,West Midnapore,721304,0,3
1861106,29-12-2025,West Bengal,West Midnapore,721451,2,0
1861107,29-12-2025,West Bengal,West Midnapore,721457,0,1

In [80]:
biometric.shape

(1861108, 6)

In [81]:
biometric['state'].nunique()

57

In [82]:
biometric['state'].unique()

array(['Haryana', 'Bihar', 'Jammu and Kashmir', 'Tamil Nadu',
       'Maharashtra', 'Gujarat', 'Odisha', 'West Bengal', 'Kerala',
       'Rajasthan', 'Punjab', 'Himachal Pradesh', 'Uttar Pradesh',
       'Assam', 'Uttarakhand', 'Madhya Pradesh', 'Karnataka',
       'Andhra Pradesh', 'Telangana', 'Goa', 'Nagaland', 'Jharkhand',
       'Delhi', 'Chhattisgarh', 'Meghalaya', 'Chandigarh', 'Orissa',
       'Puducherry', 'Pondicherry', 'Manipur', 'Sikkim', 'Tripura',
       'Mizoram', 'Arunachal Pradesh', 'Ladakh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Daman and Diu',
       'Andaman and Nicobar Islands', 'Andaman & Nicobar Islands',
       'Dadra and Nagar Haveli', 'Lakshadweep', 'Daman & Diu',
       'Dadra & Nagar Haveli', 'Jammu & Kashmir', 'WESTBENGAL',
       'andhra pradesh', 'Westbengal', 'West  Bengal', 'WEST BENGAL',
       'West Bangal', 'ODISHA', 'odisha', 'West bengal', 'west Bengal',
       'Uttaranchal', 'Chhatisgarh', 'Tamilnadu'], dtype=object)

In [83]:
biometric['state']=biometric['state'].str.lower().str.strip()

In [84]:
biometric['state'].nunique()

50

In [85]:
biometric['state'].unique()

array(['haryana', 'bihar', 'jammu and kashmir', 'tamil nadu',
       'maharashtra', 'gujarat', 'odisha', 'west bengal', 'kerala',
       'rajasthan', 'punjab', 'himachal pradesh', 'uttar pradesh',
       'assam', 'uttarakhand', 'madhya pradesh', 'karnataka',
       'andhra pradesh', 'telangana', 'goa', 'nagaland', 'jharkhand',
       'delhi', 'chhattisgarh', 'meghalaya', 'chandigarh', 'orissa',
       'puducherry', 'pondicherry', 'manipur', 'sikkim', 'tripura',
       'mizoram', 'arunachal pradesh', 'ladakh',
       'dadra and nagar haveli and daman and diu', 'daman and diu',
       'andaman and nicobar islands', 'andaman & nicobar islands',
       'dadra and nagar haveli', 'lakshadweep', 'daman & diu',
       'dadra & nagar haveli', 'jammu & kashmir', 'westbengal',
       'west  bengal', 'west bangal', 'uttaranchal', 'chhatisgarh',
       'tamilnadu'], dtype=object)

In [86]:
print(sorted(biometric['state'].unique()))

['andaman & nicobar islands', 'andaman and nicobar islands', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'chandigarh', 'chhatisgarh', 'chhattisgarh', 'dadra & nagar haveli', 'dadra and nagar haveli', 'dadra and nagar haveli and daman and diu', 'daman & diu', 'daman and diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal pradesh', 'jammu & kashmir', 'jammu and kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'orissa', 'pondicherry', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil nadu', 'tamilnadu', 'telangana', 'tripura', 'uttar pradesh', 'uttarakhand', 'uttaranchal', 'west  bengal', 'west bangal', 'west bengal', 'westbengal']

In [87]:
fix_state_name={
    'andaman & nicobar islands':'andaman and nicobar islands',
    
    'chhattisgarh':'chhatisgarh',

    'dadra & nagar haveli':'dadra and nagar haveli and daman and diu',
    'dadra and nagar haveli':'dadra and nagar haveli and daman and diu',
    'daman & diu':'dadra and nagar haveli and daman and diu',
    'daman and diu':'dadra and nagar haveli and daman and diu',
    
    'jammu & kashmir':'jammu and kashmir',

    'orissa':'odisha',
    
    'pondicherry':'puducherry',

    'tamilnadu':'tamil nadu',

    'uttaranchal':'uttarakhand',

    'west bangal':'west bengal',
    'west  bengal':'west bengal',
    'westbengal':'west bengal'
}

In [88]:
biometric['state']=biometric['state'].replace(fix_state_name)
biometric=biometric[biometric['state'].notna()]

In [89]:
biometric['state'].nunique()

36

In [90]:
sorted(biometric['state'].unique())

['andaman and nicobar islands',
 'andhra pradesh',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhatisgarh',
 'dadra and nagar haveli and daman and diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jammu and kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand',
 'west bengal']

In [91]:
biometric=biometric.copy()
biometric['total_biometric_enrollment']=(biometric['bio_age_5_17']+biometric['bio_age_17_'])

In [92]:
state_summary=(
    biometric.groupby("state")
    ['total_biometric_enrollment']
    .sum()
    .reset_index()
    .sort_values(by='total_biometric_enrollment',ascending=False)
)

In [93]:
state_summary

                                       state  total_biometric_enrollment
33                             uttar pradesh                     9577735
20                               maharashtra                     9226139
19                            madhya pradesh                     5923771
4                                      bihar                     4897587
30                                tamil nadu                     4698118
28                                 rajasthan                     3994955
1                             andhra pradesh                     3714633
10                                   gujarat                     3196514
6                                chhatisgarh                     2648734
15                                 karnataka                     2635954
35                               west bengal                     2524619
25                                    odisha                     2464960
14                                 jharkhand                     2026297
27                                    punjab                     1739671
31                                 telangana                     1737654
11                                   haryana                     1635454
16                                    kerala                     1609730
8                                      delhi                     1304362
3                                      assam                      982722
13                         jammu and kashmir                      791647
34                               uttarakhand                      764765
12                          himachal pradesh                      396234
32                                   tripura                      292155
21                                   manipur                      282587
23                                   mizoram                      120329
24                                  nagaland                      109593
22                                 meghalaya                       87626
5                                 chandigarh                       74482
2                          arunachal pradesh                       72394
26                                puducherry                       69908
9                                        goa                       68397
7   dadra and nagar haveli and daman and diu                       39268
29                                    sikkim                       22820
0                andaman and nicobar islands                       20698
17                                    ladakh                        5763
18                               lakshadweep                        4820

In [94]:
biometric.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_,total_biometric_enrollment
0,01-03-2025,haryana,Mahendragarh,123029,280,577,857
1,01-03-2025,bihar,Madhepura,852121,144,369,513
2,01-03-2025,jammu and kashmir,Punch,185101,643,1091,1734
3,01-03-2025,bihar,Bhojpur,802158,256,980,1236
4,01-03-2025,tamil nadu,Madurai,625514,271,815,1086

In [95]:
state_summary.head(10)

             state  total_biometric_enrollment
33   uttar pradesh                     9577735
20     maharashtra                     9226139
19  madhya pradesh                     5923771
4            bihar                     4897587
30      tamil nadu                     4698118
28       rajasthan                     3994955
1   andhra pradesh                     3714633
10         gujarat                     3196514
6      chhatisgarh                     2648734
15       karnataka                     2635954

In [96]:
state_summary.tail(10)

                                       state  total_biometric_enrollment
22                                 meghalaya                       87626
5                                 chandigarh                       74482
2                          arunachal pradesh                       72394
26                                puducherry                       69908
9                                        goa                       68397
7   dadra and nagar haveli and daman and diu                       39268
29                                    sikkim                       22820
0                andaman and nicobar islands                       20698
17                                    ladakh                        5763
18                               lakshadweep                        4820

In [97]:
state_summary=state_summary.reset_index(drop=True)
state_summary['rank']=range(1,len(state_summary)+1)

In [98]:
state_summary.head(10)

            state  total_biometric_enrollment  rank
0   uttar pradesh                     9577735     1
1     maharashtra                     9226139     2
2  madhya pradesh                     5923771     3
3           bihar                     4897587     4
4      tamil nadu                     4698118     5
5       rajasthan                     3994955     6
6  andhra pradesh                     3714633     7
7         gujarat                     3196514     8
8     chhatisgarh                     2648734     9
9       karnataka                     2635954    10

In [99]:
state_summary.tail(10)

                                       state  total_biometric_enrollment  rank
26                                 meghalaya                       87626    27
27                                chandigarh                       74482    28
28                         arunachal pradesh                       72394    29
29                                puducherry                       69908    30
30                                       goa                       68397    31
31  dadra and nagar haveli and daman and diu                       39268    32
32                                    sikkim                       22820    33
33               andaman and nicobar islands                       20698    34
34                                    ladakh                        5763    35
35                               lakshadweep                        4820    36

In [100]:
state_summary_1=(biometric.groupby(["state","pincode"])
                 ['total_biometric_enrollment']
                 .sum()
                 .reset_index()
                 .sort_values(by='total_biometric_enrollment',ascending=False))

In [101]:
state_summary_1

                   state  pincode  total_biometric_enrollment
10998        maharashtra   431001                       82496
3811               delhi   110094                       78765
18081      uttar pradesh   244001                       77123
3803               delhi   110086                       66190
18167      uttar pradesh   247001                       61417
...                  ...      ...                         ...
6692           karnataka   573132                           1
86        andhra pradesh   500066                           1
9290      madhya pradesh   462015                           1
5744   jammu and kashmir   182206                           1
17945      uttar pradesh   232115                           1

[20407 rows x 3 columns]

In [102]:
state_summary_2=(biometric.groupby(["state","district","pincode"])
                 ['total_biometric_enrollment']
                 .sum().reset_index()
                 .sort_values(by='total_biometric_enrollment',ascending=False))

In [103]:
state_summary_2

                state          district  pincode  total_biometric_enrollment
14812     maharashtra        Aurangabad   431001                       78727
26840   uttar pradesh         Moradabad   244001                       77122
6095            delhi  North West Delhi   110086                       66190
27055   uttar pradesh        Saharanpur   247001                       61417
25048   uttar pradesh           Aligarh   202001                       58922
...               ...               ...      ...                         ...
20442       rajasthan           Phalodi   342307                           1
20441       rajasthan           Phalodi   342302                           1
20454       rajasthan        Pratapgarh   313333                           1
20453       rajasthan        Pratapgarh   313027                           1
14202  madhya pradesh           Rajgarh   466445                           1

[30417 rows x 4 columns]

In [107]:
biometric.to_csv("cleaned_biometric.csv", index=False)