In [1]:
import pandas as pd

In [3]:
df1=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_0_500000.csv")
df2=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_500000_1000000.csv")
df3=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_1000000_1500000.csv")
df4=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_1500000_2000000.csv")
df5=pd.read_csv(r"C:\Users\basav\OneDrive\Desktop\api_data_aadhar_demographic\api_data_aadhar_demographic\api_data_aadhar_demographic_2000000_2071700.csv")

In [4]:
demo=pd.concat([df1,df2,df3,df4,df5],axis=0,ignore_index=True)

In [5]:
demo.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [6]:
demo['state'].nunique()

65

In [7]:
demo['state'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur', 'Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Dadra and Nagar Haveli', 'Orissa', 'Pondicherry',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'west Bengal', 'Daman & Diu', 'West  Bengal', 'odisha',
       'Jammu & Kashmir', 'Lakshadweep', 'Dadra & Nagar Haveli',
       'Westbengal', 'andhra pradesh', 'WEST BENGAL', 'West Bangal',
       'West bengal', 'ODISHA', 'WESTBENGAL', 'Chhatisgarh',
       'West Bengli', 'Darbhanga', 'Puttenahalli', 'BALANAGAR',
       'Uttaranchal', '100000', 'Jaipur', 'Madanapalle', 'Nagpur',
       'Raja Annamalai Puram'], dtype=object)

In [8]:
demo['state']=demo['state'].str.lower().str.strip()

In [9]:
demo['state'].nunique()

58

In [10]:
demo['state'].unique()

array(['uttar pradesh', 'andhra pradesh', 'gujarat', 'rajasthan',
       'karnataka', 'west bengal', 'telangana', 'odisha', 'maharashtra',
       'kerala', 'bihar', 'tamil nadu', 'madhya pradesh', 'assam',
       'tripura', 'arunachal pradesh', 'punjab', 'jharkhand', 'delhi',
       'chandigarh', 'chhattisgarh', 'jammu and kashmir', 'mizoram',
       'nagaland', 'himachal pradesh', 'goa', 'haryana', 'meghalaya',
       'uttarakhand', 'manipur', 'daman and diu', 'puducherry', 'sikkim',
       'ladakh', 'dadra and nagar haveli and daman and diu',
       'dadra and nagar haveli', 'orissa', 'pondicherry',
       'andaman & nicobar islands', 'andaman and nicobar islands',
       'daman & diu', 'west  bengal', 'jammu & kashmir', 'lakshadweep',
       'dadra & nagar haveli', 'westbengal', 'west bangal', 'chhatisgarh',
       'west bengli', 'darbhanga', 'puttenahalli', 'balanagar',
       'uttaranchal', '100000', 'jaipur', 'madanapalle', 'nagpur',
       'raja annamalai puram'], dtype=object)

In [11]:
sorted(demo['state'].unique())

['100000',
 'andaman & nicobar islands',
 'andaman and nicobar islands',
 'andhra pradesh',
 'arunachal pradesh',
 'assam',
 'balanagar',
 'bihar',
 'chandigarh',
 'chhatisgarh',
 'chhattisgarh',
 'dadra & nagar haveli',
 'dadra and nagar haveli',
 'dadra and nagar haveli and daman and diu',
 'daman & diu',
 'daman and diu',
 'darbhanga',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jaipur',
 'jammu & kashmir',
 'jammu and kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madanapalle',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'nagpur',
 'odisha',
 'orissa',
 'pondicherry',
 'puducherry',
 'punjab',
 'puttenahalli',
 'raja annamalai puram',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand',
 'uttaranchal',
 'west  bengal',
 'west bangal',
 'west bengal',
 'west bengli',
 'westbengal']

In [12]:
fix_state_name={
    'andaman & nicobar islands':'andaman and nicobar islands',

     'balanagar':'telangana',

     'chhatisgarh': 'chhattisgarh',

    'dadra and nagar haveli':'dadra and nagar haveli and daman and diu',
    'daman and diu':'dadra and nagar haveli and daman and diu',
    'dadra & nagar haveli':'dadra and nagar haveli and daman and diu',
    'daman & diu':'dadra and nagar haveli and daman and diu',

    'darbhanga':'bihar',

    'jaipur':'rajasthan',

    'jammu & kashmir':'jammu and kashmir',

    'madanapalle':'andhra pradesh',
    
    'orissa':'odisha',
    
    'pondicherry':'puducherry',

    'puttenahalli':'karnataka',
 
     'raja annamalai puram':'tamil nadu',
    
     'uttaranchal':'uttarakhand',
    
    'west bangal':'west bengal',
    'westbengal':'west bengal',
    'west  bengal':'west bengal',
    'west bengli':'west bengal',
    
    'jammu & kashmir':'jammu and kashmir',

    'nagpur': 'maharashtra',

    '100000':None}

In [13]:
demo['state']=demo['state'].replace(fix_state_name)
demo=demo[demo['state'].notna()]

In [14]:
demo['state'].nunique()

36

In [15]:
sorted(demo['state'].unique())

['andaman and nicobar islands',
 'andhra pradesh',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra and nagar haveli and daman and diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jammu and kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand',
 'west bengal']

In [16]:
demo=demo.copy()
demo['total_demo_enrollment']=(demo['demo_age_5_17']+demo['demo_age_17_'])

In [17]:
state_summary=(demo.groupby("state")['total_demo_enrollment'].sum().reset_index().sort_values(by='total_demo_enrollment',ascending=False))

In [18]:
state_summary.head(10)

             state  total_demo_enrollment
33   uttar pradesh                8542328
20     maharashtra                5054603
4            bihar                4814352
35     west bengal                3872737
19  madhya pradesh                2912938
28       rajasthan                2817617
1   andhra pradesh                2295584
30      tamil nadu                2212229
6     chhattisgarh                2005438
10         gujarat                1824327

In [19]:
state_summary.tail(10)

                                       state  total_demo_enrollment
23                                   mizoram                  41906
24                                  nagaland                  36791
2                          arunachal pradesh                  36443
9                                        goa                  35120
26                                puducherry                  32763
29                                    sikkim                  20340
7   dadra and nagar haveli and daman and diu                  12204
0                andaman and nicobar islands                   7246
17                                    ladakh                   5735
18                               lakshadweep                   1176

In [20]:
state_summary=state_summary.reset_index(drop=True)
state_summary['rank']=range(1,len(state_summary)+1)

In [21]:
state_summary.head()

            state  total_demo_enrollment  rank
0   uttar pradesh                8542328     1
1     maharashtra                5054603     2
2           bihar                4814352     3
3     west bengal                3872737     4
4  madhya pradesh                2912938     5

In [22]:
state_summary_1=(demo.groupby(["state","pincode"])['total_demo_enrollment']
    .sum().reset_index().sort_values(by='total_demo_enrollment',ascending=False))

In [23]:
state_summary_1.head()

               state  pincode  total_demo_enrollment
3777           delhi   110059                 115643
3810           delhi   110094                 103473
18100  uttar pradesh   244001                  97294
18719  uttar pradesh   283203                  88415
17057  uttar pradesh   202001                  81890

In [24]:
state_summary_2=(demo.groupby(["state","district","pincode"])
                 ['total_demo_enrollment']
                 .sum().reset_index()
                 .sort_values(by='total_demo_enrollment',ascending=False))

In [25]:
state_summary_2.head()

               state          district  pincode  total_demo_enrollment
6206           delhi        West Delhi   110059                 115643
27000  uttar pradesh         Moradabad   244001                  97289
6127           delhi  North East Delhi   110094                  95517
26163  uttar pradesh         Firozabad   283203                  88415
25162  uttar pradesh           Aligarh   202001                  81733

In [28]:
demo.to_csv("cleaned_demo.csv", index=False)