In [2]:
import pandas as pd

In [3]:
df1=pd.read_csv("C:\\Users\\basav\\OneDrive\\Desktop\\UIDAI\\api_data_aadhar_enrolment\\api_data_aadhar_enrolment_0_500000.csv")
df2=pd.read_csv("C:\\Users\\basav\\OneDrive\\Desktop\\UIDAI\\api_data_aadhar_enrolment\\api_data_aadhar_enrolment_500000_1000000.csv")
df3=pd.read_csv("C:\\Users\\basav\\OneDrive\\Desktop\\UIDAI\\api_data_aadhar_enrolment\\api_data_aadhar_enrolment_1000000_1006029.csv")

In [4]:
enroll=pd.concat([df1,df2,df3],ignore_index=True)

In [5]:
enroll

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21
...,...,...,...,...,...,...,...
1006024,31-12-2025,West Bengal,West Midnapore,721149,2,0,0
1006025,31-12-2025,West Bengal,West Midnapore,721150,2,2,0
1006026,31-12-2025,West Bengal,West Midnapore,721305,0,1,0
1006027,31-12-2025,West Bengal,West Midnapore,721504,1,0,0
1006028,31-12-2025,West Bengal,West Midnapore,721517,2,1,0

In [6]:
enroll.shape

(1006029, 7)

In [7]:
enroll['state'].nunique()

55

In [8]:
enroll['state'].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA', 'WESTBENGAL'], dtype=object)

In [9]:
enroll['state']=enroll['state'].str.lower().str.strip()

In [10]:
enroll['state'].nunique()

49

In [11]:
enroll['state'].unique()

array(['meghalaya', 'karnataka', 'uttar pradesh', 'bihar', 'maharashtra',
       'haryana', 'rajasthan', 'punjab', 'delhi', 'madhya pradesh',
       'west bengal', 'assam', 'uttarakhand', 'gujarat', 'andhra pradesh',
       'tamil nadu', 'chhattisgarh', 'jharkhand', 'nagaland', 'manipur',
       'telangana', 'tripura', 'mizoram', 'jammu and kashmir',
       'chandigarh', 'sikkim', 'odisha', 'kerala',
       'the dadra and nagar haveli and daman and diu',
       'arunachal pradesh', 'himachal pradesh', 'goa',
       'dadra and nagar haveli and daman and diu', 'ladakh',
       'andaman and nicobar islands', 'orissa', 'pondicherry',
       'puducherry', 'lakshadweep', 'andaman & nicobar islands',
       'dadra & nagar haveli', 'dadra and nagar haveli', 'daman and diu',
       'jammu & kashmir', 'west  bengal', '100000', 'daman & diu',
       'west bangal', 'westbengal'], dtype=object)

In [12]:
print(sorted(enroll['state'].unique()))

['100000', 'andaman & nicobar islands', 'andaman and nicobar islands', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra & nagar haveli', 'dadra and nagar haveli', 'dadra and nagar haveli and daman and diu', 'daman & diu', 'daman and diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal pradesh', 'jammu & kashmir', 'jammu and kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'orissa', 'pondicherry', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil nadu', 'telangana', 'the dadra and nagar haveli and daman and diu', 'tripura', 'uttar pradesh', 'uttarakhand', 'west  bengal', 'west bangal', 'west bengal', 'westbengal']

In [13]:
fix_state_name={
    'orissa':'odisha',
    
    'pondicherry':'puducherry',
    
    'andaman & nicobar islands':'andaman and nicobar islands',
    
    'dadra and nagar haveli':'dadra and nagar haveli and daman and diu',
    'daman and diu':'dadra and nagar haveli and daman and diu',
    'dadra & nagar haveli':'dadra and nagar haveli and daman and diu',
    'daman & diu':'dadra and nagar haveli and daman and diu',
    'the dadra and nagar haveli and daman and diu':'dadra and nagar haveli and daman and diu',

    'west bangal':'west bengal',
    'westbengal':'west bengal',
    'west  bengal':'west bengal',
    
    'jammu & kashmir':'jammu and kashmir',
    
    '100000':None}

In [14]:
enroll['state']=enroll['state'].replace(fix_state_name)
enroll=enroll[enroll['state'].notna()]

In [15]:
enroll['state'].nunique()

36

In [16]:
sorted(enroll['state'].unique())

['andaman and nicobar islands',
 'andhra pradesh',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra and nagar haveli and daman and diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jammu and kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand',
 'west bengal']

In [17]:
enroll=enroll.copy()
enroll['total_enrollment']=(enroll['age_0_5']+enroll['age_5_17']+enroll['age_18_greater'])

In [18]:
state_summary=(enroll.groupby("state")['total_enrollment'].sum().reset_index().sort_values(by='total_enrollment',ascending=False))

In [19]:
state_summary

                                       state  total_enrollment
33                             uttar pradesh           1018629
4                                      bihar            609585
19                            madhya pradesh            493970
35                               west bengal            375340
20                               maharashtra            369139
28                                 rajasthan            348458
10                                   gujarat            280549
3                                      assam            230197
15                                 karnataka            223235
30                                tamil nadu            220789
14                                 jharkhand            157539
31                                 telangana            131574
1                             andhra pradesh            127686
25                                    odisha            122987
22                                 meghalaya            109771
6                               chhattisgarh            103219
11                                   haryana             98252
8                                      delhi             94529
27                                    punjab             76746
16                                    kerala             75002
13                         jammu and kashmir             49096
34                               uttarakhand             37698
12                          himachal pradesh             17486
24                                  nagaland             15587
21                                   manipur             13456
32                                   tripura             11285
23                                   mizoram              5926
2                          arunachal pradesh              4344
26                                puducherry              3017
5                                 chandigarh              2723
9                                        goa              2333
29                                    sikkim              2207
7   dadra and nagar haveli and daman and diu              1799
17                                    ladakh               617
0                andaman and nicobar islands               511
18                               lakshadweep               203

In [20]:
enroll.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,total_enrollment
0,02-03-2025,meghalaya,East Khasi Hills,793121,11,61,37,109
1,09-03-2025,karnataka,Bengaluru Urban,560043,14,33,39,86
2,09-03-2025,uttar pradesh,Kanpur Nagar,208001,29,82,12,123
3,09-03-2025,uttar pradesh,Aligarh,202133,62,29,15,106
4,09-03-2025,karnataka,Bengaluru Urban,560016,14,16,21,51

In [21]:
state_summary.head(10)

             state  total_enrollment
33   uttar pradesh           1018629
4            bihar            609585
19  madhya pradesh            493970
35     west bengal            375340
20     maharashtra            369139
28       rajasthan            348458
10         gujarat            280549
3            assam            230197
15       karnataka            223235
30      tamil nadu            220789

In [22]:
state_summary.tail(10)

                                       state  total_enrollment
23                                   mizoram              5926
2                          arunachal pradesh              4344
26                                puducherry              3017
5                                 chandigarh              2723
9                                        goa              2333
29                                    sikkim              2207
7   dadra and nagar haveli and daman and diu              1799
17                                    ladakh               617
0                andaman and nicobar islands               511
18                               lakshadweep               203

In [23]:
state_summary=state_summary.reset_index(drop=True)
state_summary['rank']=range(1,len(state_summary)+1)

In [24]:
state_summary.head(10)

            state  total_enrollment  rank
0   uttar pradesh           1018629     1
1           bihar            609585     2
2  madhya pradesh            493970     3
3     west bengal            375340     4
4     maharashtra            369139     5
5       rajasthan            348458     6
6         gujarat            280549     7
7           assam            230197     8
8       karnataka            223235     9
9      tamil nadu            220789    10

In [25]:
enroll.to_csv("cleaned_enrollment.csv", index=False)

In [30]:
enroll.to_csv(
    "cleaned_enrollment.csv",
    index=False,
    encoding="utf-8-sig"
)